.site-footer{
    background: var(--vanille); 
    color: var(--bleu);
    display:flex; 
    height:7rem; 
    justify-content:center; 
    align-items:center; 
    column-gap:1rem;}  

 @media screen and (max-width:50rem){
    .site-footer{
        display:flex;
        height:3rem;}}
