/* le suffixe module.css permet d'isoler les styles d'un composant */

.site-header{
    background:var(--marronf); 
    display:flex; 
    height:6rem; 
    justify-content:space-between; 
    align-items:center;
        a{color: var(--vanille);
          text-decoration:none;
          font-size:medium; 
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}} 

.logo-jsp{
    scale:50%;
    position:relative;
    left:-60px;}

.btn-nav-mobile{display:none;}

