/* le suffixe module.css permet d'isoler les styles d'un composant */

.site-header{
    background:var(--marronf); 
    display:flex; 
    height:6rem; 
    justify-content:space-between; 
    align-items:center;
        a{color: var(--vanille);
          text-decoration:none;
          font-size:medium; 
          font-family:'Inter',sans-serif;}} 

.logo-jsp{scale:50%; width:100%; margin-left:-3rem;}

@media (max-width : 425px){
  .logo-jsp{scale:50%; width:100%; margin-left:2.5rem;}
}

@media (max-width : 375px){
  .logo-jsp{scale:50%; width:100%; margin-left:1.5rem;}
}

