.fond{background: var(--vanille);}

.nailsart{
    display:flex;
    background: var(--vanille);
    column-gap:3rem;
    padding:3rem;
        img{width:50vw;}
        h1{
           color: var(--bleu);
           white-space: nowrap;
           position: static;
           font-size:3rem;
           font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
         p{
            position: relative;
            padding-top:5rem;
            right:35rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }}

.babyboomer2{
        width:25vw;
        padding-top:1rem;
        position:relative;
        z-index:1;}

.cerise{
        width:25vw; 
        padding-top:3rem;
        z-index:2;
        position:relative;
        right:14px;}

.serpent{
        width:25vw;
        padding-top:2rem;
        position:relative;
        right:25px;
        z-index:3;}

.imgcontainer{
        display:flex;
        justify-content:center;
        padding-top:3rem;
        padding-bottom:3rem;}

