.legalContainer {
    max-width: 768px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Inter',sans-serif;
    color:var(--marronf); /* gris foncé */
    line-height: 1.7;
    background-color:var(--vanille);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
  }
  
  .legalContainer h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family:'Courgette', cursive;
    margin-bottom: 1rem;
    color: var(--bleu);
  }
  
  .legalContainer p {
    margin-top: 0.75rem;
  }
  
  .legalContainer strong {
    color: #111827; 
  }

  .skipLink {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    z-index: 1000;
    text-decoration: none;
    transition: top 0.3s ease;
    font-size: 1rem;
  }
  
  .skipLink:focus {
    top: 0;
  }
  
  .sectionTitle {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  
  @media (max-width: 640px) {
    .legalContainer {
      padding: 1rem;
    }
  
    .legalContainer h1 {
      font-size: 1.5rem;
    }
  }
  