.legalContainer {
    max-width: 768px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Inter',sans-serif;
    color:var(--marronf); /* gris foncé */
    line-height: 1.7;
    background-color:var(--vanille);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
  }
  
  .legalContainer h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family:'Courgette', cursive;
    margin-bottom: 1rem;
    color: var(--bleu);
  }
  
  .legalContainer p {
    margin-top: 0.75rem;
  }
  
  .legalContainer strong {
    color: #111827; 
  }
  
  @media (max-width: 640px) {
    .legalContainer {
      padding: 1rem;
    }
  
    .legalContainer h1 {
      font-size: 1.5rem;
    }
  }
  