h1{
    color: var(--bleu);
    padding-top:1rem;
    /* left:10rem; */
    font-size:3rem;
    max-height:min-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    padding-bottom: 2.5rem;
}

.onglem{
        display:flex;
        flex-direction: column;
        background: var(--vanille);
            img{
                width:25vw;
                margin-right: 10rem;}
            p{
              width:25rem;
              margin-left: 10rem;
              align-self: center;
              font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}}

.ongle_article{
                display: flex;
                justify-content: space-between;}

.bboomer1{
          background: var(--vanille);
            img{
                width:25vw;
                position: relative;
                left:5rem;
                padding-top:5rem;}
            p{
              position:relative;
              width:5rem;
              padding-top:5rem;
              left:50rem;
              font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}}

.bbomer_article{
                display:flex;
                justify-content:space-between;}

.fleur{
        display:flex;
        background: var(--vanille);
            img{
                width:25vw;
                position: relative;
                left:55rem;
                padding-top:5rem;}
            p{
                padding-top:5rem;
                width:10rem;
                left: 15rem;
                position: absolute;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}}
