p{
    text-align: justify;
    line-height: 1.2; /* Augmente l'espacement entre les lignes pour une meilleure lisibilité /
    font-size: 1.1rem; / Légèrement plus grand pour plus de confort */
    text-indent: 20px;}


.onglem h1{
    color: var(--bleu);
    padding-top:2rem;
    font-size:3rem;
    max-height:min-content;
    font-family:'Great Vibes', cursive;
    font-size: bold;
    align-self: center;
    padding-bottom: 2.5rem;}

.onglem{
        display:flex;
        flex-direction: column;
        background: var(--vanille);
            img{width:25vw; margin-right: 10rem;}
            p{
              width:35rem;
              margin-left: 10rem;
              align-self: center;
              font-family:'Inter', sans-serif;}}

.ongle_article{
                display: flex; 
                justify-content: space-between; 
                box-shadow: 0 4px 12px rgba(0, 0, 0, .30);}

.bboomer1{
          display:flex;
          flex-direction: column;
          background: var(--vanille);
            img{width:25vw; margin-left:10rem;}
            p{
                width:35rem;
                margin-right: 10rem;
                align-self: center;
                font-family:'Inter',sans-serif;}}

.bbomer_article{display:flex; justify-content:space-between;}

.fleur{
        display:flex;
        background: var(--vanille);
        flex-direction: column;
            img{width:25vw; margin-right: 10rem;}
            p{
                width:35rem;
                margin-left: 10rem;
                align-self: center;
                font-family:'Inter',sans-serif;}}

.fleur_article{
                display:flex; 
                justify-content:space-between;
                box-shadow: 0 4px 12px rgba(0, 0, 0, .30);}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0;
    }

    .onglem, .bboomer1, .fleur {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--vanille);
        padding: 1rem;
    }

    .onglem img, .bboomer1 img, .fleur img {
        width: 80vw;
        margin: 1rem 0;
    }

    .onglem p, .bboomer1 p, .fleur p {
        width: 80%;
        text-align: center;
        margin: 1rem 0;
    }

    .ongle_article, .bbomer_article, .fleur_article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

