@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* style communs à toutes les pages */
:root{
    --marronf:#1C110A;
    --vanille:#E4D6A7;
    --marronc:#7D5942;
    --bleu:#1F628E;}

*{box-sizing:border-box;}

img{width:100%;}




